body {
    background: black;
    color: white;
    font-family: sans-serif;
}
a { text-decoration: none; color: #bbd2e0; }
a:visited { color: #787878 }
a:hover { text-decoration: underline; }

.details { font-size: 70%; }

.item {
    border: 1px solid #787878;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    float: left;
    min-height: 100px;
    width: 125px;
}

img.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#image {
    height:90%;
}

div#image img {
    height:100%;
}

div#navigation {
    text-align: center;
    font-size: 200%;    
}

span.clear { 
    display:block;
    clear:both;
    font-size:0;
    line-height:0;
}
