$def with (gallery, collection)
<html>
	<head>
		<title>Collection</title>
		<link rel="stylesheet" href="${basedir}/static/css/main.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="${basedir}/static/css/cssgrids-min.css" type="text/css" media="screen" />
		<script type="text/javascript" src="${basedir}/static/js/jquery-1.5.2.min.js"></script>
		<script type="text/javascript" src="${basedir}/static/js/jquery.hoverIntent.minified.js"></script>
		<script type="text/javascript">
		    var api = { 'basedir': '${basedir}' };
		</script>
		<script type="text/javascript" src="${basedir}/static/js/collage.js"></script>
	</head>
	<body>
	    <h1>Gallery</h1>
	    <h2><a href="${basedir}/gallery/${gallery}">${gallery}</a></h2>
	    <div id="collage" class="yui3-g">
		    <div id="images" class="yui3-u-5-6">
		    $for image in collection:
			    <img src="$image['thumb']" alt="" title="" class="thumb" />
		    </div>				
		    <div id="image-details-container" class="yui3-u-1-6">
		        <div id="image-details" class="box" style="display:none;">
		            <input type="hidden" id="gallery-id" name="gallery-id" value="" />
		            <input type="hidden" id="collection-id" name="collection-id" value="" />
		            <input type="hidden" id="image-id" name="image-id" value="" />
		            <span id="title-label" class="label">Title</span>
		            <input type="text" id="title-edit" name="title-edit" value="" style="display:none;" />
		            <span id="title" class="value"></span>
		            <span id="description-label" class="label">Description</span>
		            <textarea id="description-edit" name="description-edit" value="" style="display:none;"></textarea>
		            <span id="description" class="value"></span>
		            <span id="comment-label" class="label">Comment</span>
		            <input type="text" id="comment-edit" name="comment-edit" value="" style="display:none;" />
		            <span id="comment" class="value"></span>
		            <span class="label">Rating</span>
		            <span id="rating" class="value"></span>
		            <span class="label" class="value">Dimensions</span>
		            <span id="dimensions-x" class="value"></span> x <span id="dimensions-y" class="value"></span>
		        </div>
		    </div>
	    </div>
	</body>
</html>
