$def with (collection)
<html>
	<head>
		<title>Collection</title>
		<script src="/static/js/jquery-1.5.2.min.js"></script>
		<script src="/static/js/galleria-1.2.3.js"></script>
		<script src="/static/js/themes/classic/galleria.classic.js"></script>
		<style>
		    body { background: black }
	    </style>
	</head>
	<body>
		<div id="images">
		$for image in collection:
			<a href="$image['image']"><img src="$image['thumb']" alt="" title="" /></a>
		</div>				
		<script src="/static/js/collection.js"></script>
	</body>
</html>
