$def with (collection)
<html>
	<head>
		<title>Collection</title>
		<link rel="stylesheet" href="${basedir}/static/css/main.css" type="text/css" media="screen" />
		<script src="${basedir}/static/js/jquery-1.5.2.min.js"></script>
		<script src="${basedir}/static/js/galleria-1.2.3.js"></script>
		<script src="${basedir}/static/js/themes/classic/galleria.classic.js"></script>
	</head>
	<body>
		<div id="images">
		$for image in collection:
			<a href="$image['image']"><img src="$image['thumb']" alt="" title="" /></a>
		</div>				
		<script src="${basedir}/static/js/collection.js"></script>
	</body>
</html>
