$def with (gallery)
<html>
	<head>
		<title>Gallery</title>
		<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
		<script src="/static/js/jquery-1.5.2.min.js"></script>
	</head>
	<body>
		<h1>Gallery</h1>
		$for collection in gallery.getCollections():
			<div class="item">
			    <a href="$gallery.gallery/collection/$collection['name']">$collection['name']</a>
			    <span class="clear"></span>
			    $if collection['coverThumb'] != "":
    			    <img class="center" src="$collection['coverThumb']" alt="" title="" />
    			<span class="clear"></span>
			    <span class="details">$collection['numImages'] images<br/>$collection['lastUpdateFmt']</span>
			    <span class="clear"></span>
		    </div>
	</body>
</html>
