$def with (gallery)
<html>
	<head>
		<title>Gallery</title>
		<link rel="stylesheet" href="${basedir}/static/css/main.css" type="text/css" media="screen" />
		<script src="${basedir}/static/js/jquery-1.5.2.min.js"></script>
		<script src="${basedir}/static/js/setsize.js"></script>
	</head>
	<body>
		<h1>Gallery</h1>
		<h2><a href="${basedir}">Home</a></h2>
		$for collection in gallery.get_collections():
			<div class="item">
			    $collection['name']
			    <span class="clear"></span>
			    $if collection['cover_thumb'] != "":
    			    <img class="center" src="$collection['cover_thumb']" alt="" title="" />
    			<span class="clear"></span>
			    <span class="details">
			        $collection['num_images'] images<br/>
			        $collection['last_update_fmt']
		        </span>
			    <span class="clear"></span>
			    <a href="$gallery.gallery/collection/$collection['name']">Slideshow</a>
			    <a href="$gallery.gallery/collection/simple/$collection['name']">Simple Nav</a>
			    <a href="$gallery.gallery/collection/collage/$collection['name']/">Collage</a>
		    </div>
	</body>
</html>
