$def with (galleries)
<html>
	<head>
		<title>Galleries</title>
		<link rel="stylesheet" href="${basedir}/static/css/main.css" type="text/css" media="screen" />
		<script src="${basedir}/static/js/jquery-1.5.2.min.js"></script>
		<script src="${basedir}/static/js/setsize.js"></script>
	</head>
	<body>
		<h1>Galleries</h1>
	    <div style="font-size:75%"><a href="scan">Re-scan</a></div>
		$for gallery in galleries:
			<div class="item">
			    <a href="gallery/$gallery['name']">$gallery['name']</a><span class="clear"></span>
			    $if gallery['cover_thumb'] != "":
    			    <img class="center" src="$gallery['cover_thumb']" alt="" title="" />
    			<span class="clear"></span>
			    <span class="details">$gallery['num_collections'] collections<br/>$gallery['num_images'] images<br/>$gallery['last_update']</span><span class="clear"></span>
		    </div>
	</body>
</html>
