$def with (galleries)
<html>
	<head>
		<title>Galleries</title>
		<link rel="stylesheet" href="/$basedir/static/css/main.css" type="text/css" media="screen" />
		<script src="/$basedir/static/js/jquery-1.5.2.min.js"></script>
	</head>
	<body>
		<h1>Galleries</h1>
		$for gallery in galleries:
			<div class="item">
			    <a href="gallery/$gallery['name']">$gallery['name']</a><span class="clear"></span>
			    $if gallery['coverThumb'] != "":
    			    <img class="center" src="$gallery['coverThumb']" alt="" title="" />
    			<span class="clear"></span>
			    <span class="details">$gallery['numCollections'] collections<br/>$gallery['numImages'] images<br/>$gallery['lastUpdate']</span><span class="clear"></span>
		    </div>
	</body>
</html>
